<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <!-- <article class="tweet clearfix"> -->
    <article class="tweet">
      <div class="avatar"></div>
      <p>Lorem ipsum dolor sit amet.</p>
      <!-- <p class="clear">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero aliquam,
        sed accusamus saepe veritatis sequi veniam architecto animi commodi
        ducimus rem fugiat unde perspiciatis, ratione sit beatae exercitationem
        nostrum? Quia, quis voluptatibus? Dignissimos soluta consequuntur
        voluptates autem repellat corporis ipsa et fugiat commodi inventore,
        quis exercitationem! Obcaecati omnis dolorum soluta.
      </p> -->
      <!-- <div class="clear"></div> -->
    </article>
  </body>
</html>
