<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="box">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos
          accusamus perferendis praesentium possimus soluta dicta veniam
          consequatur aliquid ipsam maiores!
        </p>
      </div>
      <div class="box">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
          consequuntur sit temporibus nisi nihil quo quam incidunt alias sed
          velit.
        </p>
      </div>
    </div>
  </body>
</html>
